# Five Simple Pandas Tricks

In [1]:
import pandas as pd
import numpy as np

### Unique Values in Each Column

In [2]:
df = pd.read_csv('house.csv')

In [3]:
# number of unique values in each column
for column in df:
    print(column, df[column].nunique())

bedrooms 9
bathrooms 24
sqft_living 568
sqft_lot 3778
yr_built 116
zipcode 70
lat 3372
long 623
price 1764

### Distance Formula

This formula is an equirectangular distance approximation for the shortest distance between two points given their longitudes and latitudes.

In [4]:
# calculating distance
# Seattle = 47.608013, -122.335167
# approx one degree of latitude ellipsoidal earth at 47N: 69.08 miles

def distance(Lat2, Long2):
    Lat1 = 47.608013
    Long1 = -122.335167
    x = Lat2 - Lat1
    y = (Long2 - Long1) * np.cos((Lat2 + Lat1)*(0.5 * np.pi/180))  
    return 69.08 * np.sqrt(x*x + y*y)

distance(47.5112, -122.257)

7.616113362022828

In [5]:
df['Miles_Seattle'] = df.apply(lambda x: distance(x['lat'], x['long']), axis=1)
df.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,yr_built,zipcode,lat,long,price,Miles_Seattle
0,3,1.00,1180,5650,1955,98178,47.5112,-122.257,221900,7.616113
1,3,2.25,2570,7242,1951,98125,47.7210,-122.319,538000,7.841298
2,2,1.00,770,10000,1933,98028,47.7379,-122.233,180000,10.153451
3,4,3.00,1960,5000,1965,98136,47.5208,-122.393,604000,6.600281
4,3,2.00,1680,8080,1987,98074,47.6168,-122.045,510000,13.526635