## Aaron Bowl

On 1/16/21 in the first game of the NFL Divisional Playoffs, the Green Bay Packers will face the Los Angeles Rams.
These teams represent the NFL's top ranked defense (Rams) and offense (Packers).
Interestingly the best player on each team is named Aaron. Aaron Rodgers is possibly the best quarterback in football and he is one of the hot favorites for this year's Most Valuable Player award. Aaron Donald is one of the best ever to play his position. He is one of three favorites for this year's Defensive Player of Year. Throw in the Packer's running back Aaron Jones as well. No matter how this game turns out it will be highly influenced by one the Aarons. That's why I'm calling it the Aaron Bowl

### Loading Data

Data sources:
https://www.kaggle.com/c/nfl-big-data-bowl-2020
https://www.nfl.com/stats/player-stats/

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# import NFL stats
df = pd.read_csv (r'NFL_players.csv')
df.head()

,Player,First,Last,Suffix,Current Team,Position,Group,height,weight,birthdate,college,Pass_Yd,QB_rating,Pass_TD,Rush_Yd,Receive_Yd,Receive_TD,Sacks
0,Mario Addison,Mario,Addison,NaN,Buffalo Bills,DE,Tackle,75.0,260.0,09/06/1987,Troy,NaN,NaN,NaN,NaN,NaN,NaN,5.0
1,Zach Allen,Zach,Allen,NaN,Arizona Cardinals,DE,Tackle,77.0,285.0,08/20/1997,Boston College,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,Bradlee Anae,Bradlee,Anae,NaN,Dallas Cowboys,DE,Tackle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Henry Anderson,Henry,Anderson,NaN,New York Jets,DE,Tackle,78.0,301.0,08/03/1991,Stanford,NaN,NaN,NaN,NaN,NaN,NaN,0.5
4,Arik Armstead,Arik,Armstead,NaN,San Francisco 49ers,DE,Tackle,79.0,292.0,11/15/1993,Oregon,NaN,NaN,NaN,NaN,NaN,NaN,3.5

### Investigate the Data

In [4]:
df.describe()

,height,weight,Pass_Yd,QB_rating,Pass_TD,Rush_Yd,Receive_Yd,Receive_TD,Sacks
count,656.000000,656.000000,38.000000,38.000000,38.000000,111.000000,364.000000,364.000000,225.000000
mean,74.237805,242.364329,2965.342105,92.455263,20.447368,460.234234,328.719780,2.153846,3.513333
std,2.657239,38.642537,1347.477970,13.466368,12.426426,342.629430,324.742973,2.747092,2.986547
min,66.000000,170.000000,624.000000,54.500000,2.000000,99.000000,4.000000,0.000000,0.500000
25%,73.000000,213.000000,1902.750000,81.250000,9.250000,197.500000,80.750000,0.000000,1.000000
50%,75.000000,238.000000,2942.500000,94.200000,18.000000,367.000000,208.500000,1.000000,2.500000
75%,76.000000,265.000000,4152.500000,102.000000,30.000000,649.000000,472.500000,3.000000,5.000000
max,80.000000,366.000000,4823.000000,121.500000,48.000000,2027.000000,1535.000000,18.000000,15.000000

In [5]:
df.dtypes

Player           object
First            object
Last             object
Suffix           object
Current Team     object
Position         object
Group            object
height          float64
weight          float64
birthdate        object
college          object
Pass_Yd         float64
QB_rating       float64
Pass_TD         float64
Rush_Yd         float64
Receive_Yd      float64
Receive_TD      float64
Sacks           float64
dtype: object

In [ ]:
# convert birthdat
df['birthdate'] = pd.to_datetime(df['birthdate'])