In [1]:
import sqlite3
import pandas as pd
import numpy as np

### Basic Query

In [ ]:
SELECT * 
FROM table
LIMIT 10;

In [ ]:
# in SQL lite
conn = sqlite3.connect('nba_db')
cur = conn.cursor()

In [ ]:
cur.execute("""SELECT *,
               FROM players
               LIMIT 10;""")

### LIKE

In [ ]:
SELECT last_name, height
FROM players
WHERE last_name ILIKE 'jam&';

### IN

In [ ]:
SELECT *
FROM games
WHERE month IN ('May', 'June');

### NOT

In [ ]:
SELECT *
FROM games
WHERE month NOT IN ('May', 'June');

### AND

In [ ]:
SELECT team,
FROM games
WHERE month NOT IN ('May', 'June')
AND home_score <= 100;

### OR

In [ ]:
SELECT *
FROM players
WHERE team LIKE ‘%Lakers’
AND (last_name = ‘Davis’ OR last_name = ‘James);

### BETWEEN

In [ ]:
SELECT *
FROM games
WHERE date BETWEEN '2020-01-01' AND '2020-04-01';

### NULL

In [ ]:
SELECT *
FROM players
WHERE last_name IS NULL;

### Simple Join

In [ ]:
# player points
SELECT p.last_name, g.points
FROM player p
JOIN game g
ON g.player_id = p.id
ORDER BY g.points DESC;

### Double Join

In [ ]:
# team points
SELECT p.name, g.points
FROM player p
JOIN game g
ON g.player_id = p.id
JOIN team t
ON t.player_id = p.id
ORDER BY g.points;