In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('house.csv')

In [3]:
df.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,yr_built,zipcode,lat,long,price
0,3,1.00,1180,5650,1955,98178,47.5112,-122.257,221900
1,3,2.25,2570,7242,1951,98125,47.7210,-122.319,538000
2,2,1.00,770,10000,1933,98028,47.7379,-122.233,180000
3,4,3.00,1960,5000,1965,98136,47.5208,-122.393,604000
4,3,2.00,1680,8080,1987,98074,47.6168,-122.045,510000